<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fourtofourfinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/txt_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".UserAutenticado"></activity>
        <activity android:name=".activity_sign_up" />
        <activity android:name=".FourToMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndexActivity" />
        <activity android:name=".Presentation.Tasks.TapPairTask.TapPairActivity" />
        <activity android:name=".Presentation.Tasks.TranslateSentenceTask.TSTaskActivity" />
        <activity android:name=".Presentation.Tasks.WordTask.WordTaskActivity" />
        <activity android:name=".MenuActivity" />
    </application>

</manifest>